{:deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           com.clojournal/clojournal {:mvn/version "0.1.0-alpha3"}}

 :aliases {:test     {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.672"}}
                      :extra-paths ["test"]}
           :examples {:extra-paths ["examples"]}}}
